@import "dir/general";
@import "dir/header";

// ========== MAIN (INDEX) ========== //

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: row;

  .super-list {
    margin: 0;
    padding: 0 0 0 56px;
    list-style: none;

    &__item {
      font-weight: 400;
      font-size: 18px;
      line-height: 120%;
      color: #4E4160;
      cursor: pointer;
      margin-bottom: 24px;
      transition: 0.3s;

      & a {
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
        color: inherit;
        text-decoration: none;
      }

      &:hover {
        font-weight: 700;
        color: #D96DFF;
      }

      &--active {
        font-weight: 700;
        color: #936DFF;
      }
    }
  }

  &__transparent-part-container {
    flex-grow: 1;
    padding: 0 44px 54px 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 592px;
  }

  &__first-lvl-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0 5px;
    flex-wrap: wrap;
    box-sizing: border-box;

    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(4px);

    border-radius: 20px;
    padding: 20px 30px;
    margin-bottom: 30px;

    &:last-of-type {
      margin-bottom: 0;
    }

    & > .first-lvl-container__heading {
      margin: 0 0 10px 0;
      flex-basis: 100%;
      font-weight: 600;
      letter-spacing: 0.02em;
      color: #4e4160;
      font-size: 20px;
      line-height: 140%;
    }
  }

  &__second-lvl-container {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;

    & > .second-lvl-container__heading {
      margin: 0;
      font-weight: 600;
      letter-spacing: 0.02em;
      color: #4e4160;
      font-size: 14px;
      line-height: 100%;
    }

    & > .second-lvl-container__big-number {
      margin: 0;
      font-weight: 700;
      letter-spacing: 0.02em;
      color: #936dff;
      font-size: 72px;
      line-height: 88px;
    }

    & > .second-lvl-container__regular-text {
      margin: 0 0 0 auto;
      font-weight: 400;
      letter-spacing: 0.02em;
      color: #4E4160;
      font-size: 14px;
      line-height: 12px;
    }

    &.stats {
      padding: 20px 20px 10px;
      flex-basis: 31%;
    }

    &.instruments {
      padding: 12px 20px;
      flex-basis: 23%;

      & .Kibana-link::before {
        content: "";
        position: relative;
        float: left;
        margin: 1px 10px 0 0;
        width: 24px;
        height: 24px;
        background-image: url(../images/logos/logo_kibana.png);
        background-repeat: no-repeat;
      }

      & .SeoPlatform-link::before {
        content: "";
        position: relative;
        float: left;
        margin: 1px 10px 0 0;
        width: 24px;
        height: 24px;
        background-image: url(../images/logos/icon_seo_platform.png);
        background-repeat: no-repeat;
      }

      & .Multitool-link::before {
        content: "";
        position: relative;
        float: left;
        margin: 1px 10px 0 0;
        width: 24px;
        height: 24px;
        background-image: url(../images/logos/logo_multitool.png);
        background-repeat: no-repeat;
      }

      & .TODY-link::before {
        content: "";
        position: relative;
        float: left;
        margin: 1px 10px 0 0;
        width: 24px;
        height: 24px;
        background-image: url(../images/logos/logo_tody.png);
        background-repeat: no-repeat;
      }
    }

    &.documentation {
      padding: 12px 20px;
      flex-basis: 31%;

      display: flex;
      flex-direction: row;
      justify-content: space-between;

      & > .link {
        width: 100%;
      }

      & > .copy-link-button {
        padding: 5px 0;
      }
    }
  }
}

// ========== MAIN (INDEX) ========== //

// ========== PLUGINS ========== //

.transparent-part-container.screen-plugins {
  justify-content: flex-start;

  & > .first-lvl-container {
    padding: 10px 12px 0 30px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;

    &--left {
      border-radius: 0 16px 16px 16px;
    }

    &--right {
      border-radius: 16px 0 16px 16px;
    }

    &--hidden {
      display: none;
    }

    &.nav-tabs {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: nowrap;
      margin: 0;
      padding: 0;
      background: none;
      border-radius: 0;
      cursor: pointer;

      & > .nav-tabs__tab {
        flex-grow: 1;
        margin: 0;
        text-align: center;
        padding-top: 14px;
        padding-bottom: 6px;
        flex-basis: 50%;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0.02em;
        font-weight: 400;
        color: #ADADD9;

        border-radius: 16px 16px 0 0 !important;

        & > .purple-accent {
          font-weight: 400;
          color: #ADADD9;
        }

        &--active {
          background-color: rgba(255, 255, 255, 0.35);
          font-weight: 600;
          color: #4E4160;

          & > .purple-accent {
            font-weight: 600;
            color: #936DFF;
          }
        }
      }
    }

    & .second-lvl-container {
      flex-direction: row;
      padding-left: 20px;
      padding-right: 8px;
      box-sizing: border-box;
      margin-bottom: 8px;
      justify-content: flex-start;
      flex-wrap: wrap;
      align-items: center;

      &--heading {
        // width: 792px;
        box-sizing: border-box;
        min-width: 611px;

        padding-top: 16px;
        padding-bottom: 16px;
        font-weight: 600;

        & > .second-lvl-container__text {
          cursor: pointer;

          & .sorting-icon {
            margin-left: 4px;
            transform: translateY(1px);
          }

          & .sorting-icon--sort-down path:first-child { //down arrow
            fill: #936DFF;
            stroke: #936DFF;
          }

          & .sorting-icon--sort-up path:last-child { //up arrow
            fill: #936DFF;
            stroke: #936DFF;
          }
        }

      }

      &--regular {
        padding-top: 10px;
        padding-bottom: 10px;

        & > p {
          &:last-of-type {
            margin-right: 12px;
          }
        }

        &.foldable {
          & > p {
            &:last-of-type {
              position: relative;
              cursor: pointer;

              &::after {
                content: "";
                display: block;
                position: absolute;
                right: 0;
                bottom: 6px;
                background-image: url(../images/icons/icon_down.svg);
                background-repeat: no-repeat;
                height: 7px;
                width: 11px;
              }

              &:hover {
                color: #D96DFF;

                &::after {
                  background-image: url(../images/icons/icon_down_hover.svg);
                }
              }

            }
          }

          &--unfold {
            & > p:last-of-type::after {
              background-image: url(../images/icons/icon_up.svg);
            }

            & > p:last-of-type:hover {
              color: #D96DFF;

              &::after {
                background-image: url(../images/icons/icon_up_hover.svg);
              }
            }


            & .second-lvl-container__hidden-part {
              display: block;
            }
          }
        }
      }

      &__hidden-part {
        display: none;
        width: 100%;
        text-align: right;
        max-height: 120px;
        overflow-y: scroll;
        padding-right: 8px;

        // scrollbar stuff
        scrollbar-color: #D4D4F4 rgba(212, 212, 244, 0.1);
        scrollbar-width: thin;
        scrollbar-gutter: stable;


        &::-webkit-scrollbar-thumb {
          background: #D4D4F4;
          border-radius: 8px;
          width: 4px;
        }

        &::-webkit-scrollbar {
          background: rgba(212, 212, 244, 0.1);
          border-radius: 8px;
          width: 4px;
        }

        // scrollbar stuff

        & ul {
          margin: 12px 0 0 0;
          padding: 0;

          & li {
            list-style: none;
            font-weight: 400;
            font-size: 14px;
            line-height: 120%;
            color: #ADADD9;
            margin-bottom: 6px;

            padding-left: 392px;
            display: flex;
            justify-content: space-between;

            & p {
              margin: 0;
              display: inline-block;
            }
          }
        }
      }

      &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow-y: scroll;
        height: 420px;

        padding-right: 12px;

        // scrollbar stuff
        scrollbar-color: #D4D4F4 rgba(212, 212, 244, 0.1);
        scrollbar-width: thin;
        scrollbar-gutter: stable;

        &::-webkit-scrollbar-thumb {
          background: #D4D4F4;
          border-radius: 8px;
          width: 6px;
        }

        &::-webkit-scrollbar {
          background: rgba(212, 212, 244, 0.1);
          border-radius: 8px;
          width: 6px;
        }

        // scrollbar stuff

      }

      & > p {
        margin: 0;

        &:nth-child(1) {
          flex-basis: 360px;
          margin-right: 32px;
        }

        &:nth-child(2) {
          flex-basis: 180px;
        }

        &:last-of-type {
          padding-right: 18px;
          margin-left: auto;
        }
      }


    }
  }
}

// ========== PLUGINS ========== //

// ========== SITES ========== //

.transparent-part-container.screen-sites {
  & > .first-lvl-container {
    padding: 10px 12px 0 30px;
    overflow: hidden;

    flex-basis: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;

    & .second-lvl-container {
      flex-direction: row;
      padding-left: 20px;
      padding-right: 8px;
      box-sizing: border-box;
      margin-bottom: 8px;
      justify-content: flex-start;
      flex-wrap: wrap;
      align-items: center;

      &--heading {
        // width: 792px;
        box-sizing: border-box;
        min-width: 611px;

        padding-top: 16px;
        padding-bottom: 16px;
        font-weight: 600;

        & > .second-lvl-container__text {
          cursor: pointer;

          & .sorting-icon {
            margin-left: 4px;
            transform: translateY(1px);
          }

          & .sorting-icon--sort-down path:first-child { //down arrow
            fill: #936DFF;
            stroke: #936DFF;
          }

          & .sorting-icon--sort-up path:last-child { //up arrow
            fill: #936DFF;
            stroke: #936DFF;
          }
        }

      }

      &--regular {
        padding-top: 10px;
        padding-bottom: 10px;

        & > p {
          &:last-of-type {
            margin-right: 12px;
          }
        }

        &.foldable {
          & > p {
            &:last-of-type {
              position: relative;
              cursor: pointer;

              &::after {
                content: "";
                display: block;
                position: absolute;
                right: 0;
                bottom: 6px;
                background-image: url(../images/icons/icon_down.svg);
                background-repeat: no-repeat;
                height: 7px;
                width: 11px;
              }

              &:hover {
                color: #D96DFF;

                &::after {
                  background-image: url(../images/icons/icon_down_hover.svg);
                }
              }

            }
          }

          &--unfold {
            & > p:last-of-type::after {
              background-image: url(../images/icons/icon_up.svg);
            }

            & > p:last-of-type:hover {
              color: #D96DFF;

              &::after {
                background-image: url(../images/icons/icon_up_hover.svg);
              }
            }


            & .second-lvl-container__hidden-part {
              display: block;
            }
          }
        }
      }

      &__hidden-part {
        display: none;
        width: 100%;
        text-align: right;
        max-height: 120px;
        overflow-y: scroll;
        padding-right: 8px;

        // scrollbar stuff
        scrollbar-color: #D4D4F4 rgba(212, 212, 244, 0.1);
        scrollbar-width: thin;
        scrollbar-gutter: stable;


        &::-webkit-scrollbar-thumb {
          background: #D4D4F4;
          border-radius: 8px;
          width: 4px;
        }

        &::-webkit-scrollbar {
          background: rgba(212, 212, 244, 0.1);
          border-radius: 8px;
          width: 4px;
        }

        // scrollbar stuff

        & ul {
          margin: 12px 0 0 0;
          padding: 0;

          & li {
            list-style: none;
            font-weight: 400;
            font-size: 14px;
            line-height: 120%;
            color: #ADADD9;
            margin-bottom: 6px;
            //padding-right: 18px;
            & p {
              margin: 0;
              display: inline-block;
            }
          }
        }
      }

      &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow-y: scroll;

        padding-right: 12px;

        // scrollbar stuff
        scrollbar-color: #D4D4F4 rgba(212, 212, 244, 0.1);
        scrollbar-width: thin;
        scrollbar-gutter: stable;

        &::-webkit-scrollbar-thumb {
          background: #D4D4F4;
          border-radius: 8px;
          width: 6px;
        }

        &::-webkit-scrollbar {
          background: rgba(212, 212, 244, 0.1);
          border-radius: 8px;
          width: 6px;
        }

        // scrollbar stuff

      }

      & > p {
        margin: 0;

        &:nth-child(1) {
          flex-basis: 80px;
          margin-right: 24px;
        }

        &:nth-child(2) {
          flex-basis: 160px;
          margin-right: 24px;
        }

        &:last-of-type {
          padding-right: 18px;
          margin-left: auto;
        }
      }


    }
  }
}

// ========== SITES ========== //

// ========== DOMAINS ========== //

.transparent-part-container.screen-domains {
  justify-content: flex-start;

  & > .first-lvl-container {
    padding: 10px 12px 0 30px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;

    & .second-lvl-container {
      flex-direction: row;
      padding-left: 20px;
      padding-right: 8px;
      box-sizing: border-box;
      margin-bottom: 8px;
      justify-content: flex-start;
      flex-wrap: wrap;
      align-items: center;

      &--heading {
        // width: 792px;
        box-sizing: border-box;
        min-width: 611px;

        padding-top: 16px;
        padding-bottom: 16px;
        font-weight: 600;

        & > .second-lvl-container__text {
          cursor: pointer;

          & .sorting-icon {
            margin-left: 4px;
            transform: translateY(1px);
          }

          & .sorting-icon--sort-down path:first-child { //down arrow
            fill: #936DFF;
            stroke: #936DFF;
          }

          & .sorting-icon--sort-up path:last-child { //up arrow
            fill: #936DFF;
            stroke: #936DFF;
          }
        }

        & .search-field--small {
          width: 279px;

          &__search-button {
            position: absolute;
            left: 390px;
            top: 32px;
          }
        }
      }

      &--regular {
        padding-top: 10px;
        padding-bottom: 10px;

        & > p {
          &:last-of-type {
            margin-right: 12px;
          }
        }
      }

      &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow-y: scroll;
        height: 463px;

        padding-right: 12px;

        // scrollbar stuff
        scrollbar-color: #D4D4F4 rgba(212, 212, 244, 0.1);
        scrollbar-width: thin;
        scrollbar-gutter: stable;

        &::-webkit-scrollbar-thumb {
          background: #D4D4F4;
          border-radius: 8px;
          width: 6px;
        }

        &::-webkit-scrollbar {
          background: rgba(212, 212, 244, 0.1);
          border-radius: 8px;
          width: 6px;
        }

        // scrollbar stuff

      }

      & > p {
        margin: 0;

        &:nth-child(1) {
          flex-basis: 368px;
          margin-right: 32px;
        }

        &:nth-child(2) {
          flex-basis: 80px
        }

        &:last-of-type {
          padding-right: 18px;
          margin-left: auto;
        }
      }


    }
  }
}

// ========== DOMAINS ========== //

// ========== CANONICALS ========== //

.transparent-part-container.screen-canonicals {
  justify-content: flex-start;

  & > .first-lvl-container {
    padding: 10px 12px 0 30px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;

    &--id-search {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 12px 0;

      & .purple-accent {
        font-weight: 600;
        font-size: 28px;
        line-height: 140%;
        letter-spacing: 0.02em;
      }

      & p {
        margin: 0 30px;
      }
    }

    //&--left {
    //  border-radius: 0 16px 16px 16px;
    //  font-weight: 600;
    //}
    //
    //&--right {
    //  border-radius: 16px 0 16px 16px;
    //  font-weight:400;
    //}

    //&--hidden {
    //  display: none;
    //}

    &.nav-tabs {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: nowrap;
      margin: 0;
      padding: 0;
      background: none;
      border-radius: 0;
      cursor: pointer;

      & > .nav-tabs__tab {
        flex-grow: 1;
        margin: 0;
        text-align: center;
        padding-top: 14px;
        padding-bottom: 6px;
        flex-basis: 50%;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0.02em;
        font-weight: 400;
        color: #ADADD9;

        border-radius: 16px 16px 0 0 !important;

        & > .purple-accent {
          font-weight: 400;
          color: #ADADD9;
        }

        &--active {
          background-color: rgba(255, 255, 255, 0.35);
          font-weight: 600;
          color: #4E4160;

          & > .purple-accent {
            font-weight: 600;
            color: #936DFF;
          }
        }
      }
    }

    & .second-lvl-container {
      flex-direction: row;
      padding-left: 20px;
      padding-right: 8px;
      box-sizing: border-box;
      margin-bottom: 8px;
      justify-content: flex-start;
      flex-wrap: wrap;
      align-items: center;

      &--heading {
        // width: 792px;
        box-sizing: border-box;
        min-width: 611px;

        padding-top: 16px;
        padding-bottom: 16px;
        font-weight: 600;

        & > .second-lvl-container__text {
          cursor: pointer;

          & .sorting-icon {
            margin-left: 4px;
            transform: translateY(1px);
          }

          & .sorting-icon--sort-down path:first-child { //down arrow
            fill: #936DFF;
            stroke: #936DFF;
          }

          & .sorting-icon--sort-up path:last-child { //up arrow
            fill: #936DFF;
            stroke: #936DFF;
          }
        }

      }

      &--regular {
        padding-top: 10px;
        padding-bottom: 10px;

        & > p {
          &:last-of-type {
            margin-right: 12px;
          }
        }

        &.foldable {
          & > p {
            &:last-of-type {
              position: relative;
              cursor: pointer;

              &::after {
                content: "";
                display: block;
                position: absolute;
                right: 0;
                bottom: 6px;
                background-image: url(../images/icons/icon_down.svg);
                background-repeat: no-repeat;
                height: 7px;
                width: 11px;
              }

              &:hover {
                color: #D96DFF;

                &::after {
                  background-image: url(../images/icons/icon_down_hover.svg);
                }
              }

            }
          }

          &--unfold {
            & > p:last-of-type::after {
              background-image: url(../images/icons/icon_up.svg);
            }

            & > p:last-of-type:hover {
              color: #D96DFF;

              &::after {
                background-image: url(../images/icons/icon_up_hover.svg);
              }
            }


            & .second-lvl-container__hidden-part {
              display: block;
            }
          }
        }
      }

      &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow-y: scroll;
        height: 420px;

        padding-right: 12px;

        // scrollbar stuff
        scrollbar-color: #D4D4F4 rgba(212, 212, 244, 0.1);
        scrollbar-width: thin;
        scrollbar-gutter: stable;

        &::-webkit-scrollbar-thumb {
          background: #D4D4F4;
          border-radius: 8px;
          width: 6px;
        }

        &::-webkit-scrollbar {
          background: rgba(212, 212, 244, 0.1);
          border-radius: 8px;
          width: 6px;
        }

        // scrollbar stuff

      }

      & > p {
        margin: 0;

        &:nth-child(1) {
          flex-basis: 374px;
          margin-right: 32px;
        }

        &:nth-child(2) {
          flex-basis: 346px;
        }


        & > a {
          color: #936DFF;
        }

        & > a:active {
          color: #936DFF;
        }

        & > a:visited {
          color: #936DFF;
        }

        & > a:hover {
          color: #D96DFF;
        }
      }
    }
  }
}

// ========== CANONICALS ========== //
